@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
	--bg-1: #1d1d1d;
	--bg-2: #2b2b2b;
	--bg-3: #3a3a3a;
	--fg-1: #aeaeae;
	--fg-2: #787878;
	--fg-3: #424242;
}

body {
	background-color: var(--bg-1);
	color: var(--fg-1);
	font-family: 'Overpass', sans-serif;
	line-height: 2;
	font-feature-settings: 'liga' 1; /* Enables standard ligatures */
	-webkit-font-feature-settings: 'liga' 1; /* For Safari */
	-moz-font-feature-settings: 'liga' 1; /* For Firefox */
}

ul {
	margin-top: 0.5rem;
}

main {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2.5rem;
	max-width: 48rem;
	padding: 1.5rem;
}

h1 {
	font-family: 'Overpass Mono', monospace;
	font-size: 36px;
	font-weight: 600;
}

h2 {
	font-family: 'Overpass Mono', monospace;
	font-size: 30px;
	font-weight: 600;
}

section {
	margin-bottom: 2rem;
}

p {
	font-family: 'Overpass', sans-serif;
	font-size: 14pt;
	letter-spacing: 0.05em;
}

a {
	position: relative;
	display: inline-block;
	text-decoration: underline transparent;
	transition: text-decoration 0.2s ease-in-out;
}

li {
	font-size: 14pt;
	letter-spacing: 0.05em;
}

.nav-item {
	font-size: 'overpass mono', monospace;
}

a:hover {
	cursor: pointer;
	text-decoration: underline currentColor;
}

.split {
	color: var(--fg-2);
}
